#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    padding: 0; /* Removes padding from all sides */
    margin: 0; /* Removes any margin if present */
    height: 100%; /* Ensures it takes full height */
    width: 100%; /* Ensures it takes full width */
  }

  #app {
    padding: 0; /* Removes padding from all sides */
    margin: 0; /* Removes any margin if present */
    height: 100%; /* Ensures it takes full height */
    width: 100%; /* Ensures it takes full width */
  }
}
